ErrorDocument 404 /404.php 
ErrorDocument 500 /500.php 

RewriteEngine On
RewriteRule ^avatars/(.*) /defaultStorage.php?fold=avatars&id=$1 [B]
RewriteRule ^banners/(.*) /defaultStorage.php?fold=banners&id=$1 [B]

RewriteRule ^pavatars/(.*) /defaultStorage.php?fold=pageAvatars&id=$1 [B]
RewriteRule ^pbanners/(.*) /defaultStorage.php?fold=pageBanners&id=$1 [B]

RewriteRule ^users/(.*) /profile.php?id=$1 [B]
RewriteRule ^page/(.*) /page.php?id=$1 [B]
RewriteRule ^posts/(.*) /posts.php?id=$1 [L]
RewriteRule ^chat/(.*) /chat_r.php?chan=$1 [B]
RewriteRule ^groups/(.*) /groups.php?id=$1 [B]
RewriteRule ^blog/(.*) /blog_r.php?id=$1 [B]

RewriteCond %{REQUEST_FIBENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]