ErrorDocument 404 /404.php 
ErrorDocument 500 /500.php 

RewriteEngine On
RewriteRule ^avatars/(.*) /avatars.php?id=$1 [B]
RewriteRule ^banners/(.*) /banners.php?id=$1 [B]
RewriteRule ^users/(.*) /profile.php?id=$1 [B]
RewriteRule ^posts/(.*) /posts.php?id=$1 [L]
RewriteRule ^chat/(.*) /chat_r.php?chan=$1 [B]

RewriteCond %{REQUEST_FIBENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]